<!DOCTYPE html>
<html lang="en">
        <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" lang="en-US" />
        <title>IG Score - AD Platform</title>
        </head>
        <body style="background-color: #fff">
        <div id="root"></div>
        </body>
</html>
